@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Fredericka+the+Great&family=Oleo+Script&display=swap');
.dropdown-menu a{
    display: block;
    text-decoration: none;
}
.dropdown-menu{
    background-color: orange;
}
h1{
    font-family: 'Ubuntu', sans-serif;
}
.neon{
    color: #fff;
    text-shadow: 0 0 20px #ff005b;
}
.carousel-inner .item img{
    width: 1600px;
    height: 900px;
}
.neon1{
    color: #fff;
    text-shadow: 0 0 20px #00ff0d;
}
.neon2{
    color: #fff;
    text-shadow: 0 0 20px #002fff;
}
.carousel{
    margin-bottom: 30px;
}
form{
    display: inline-block;
}
body{
    background-image: url("images/background.jpg");
}
.container{
    background-color: black;
}
.navbar-right{
   margin-right: 10px;
}
.navbar-inverse{
    background-color: black;
    padding: 20px;
    margin-top: 0 !important;
}
.navbar-right li{
    border-radius: 5%;
    background-color: indigo;
    margin: 5px;
}
.form-control{
    padding-right: 100px;
}
.slick-dots li{
    display: none;
}
.slick-item img{
    height: 345px;
    width: 255px;
    object-fit: cover;
    border-radius: 15px;
}
.arrow-prev{
    position: absolute;
    top: 130%;
    left: 14%;
}
.arrow-next{
    position: absolute;
    top: 130%;
    left: 83%;
}
.arrow-prev i{
    font-size: 50px;
    color: grey;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;

}
.arrow-next i{
    font-size: 50px;
    color: grey;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;

}

.arrow-prev2{
    position: absolute;
    top: 195%;
    left: 14%;
}
.arrow-next2{
    position: absolute;
    top: 195%;
    left: 83%;
}
.arrow-prev2 i{
    font-size: 50px;
    color: grey;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;

}
.arrow-next2 i{
    font-size: 50px;
    color: grey;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;

}

.slick-slider{
    padding-bottom: 50px;
}

@media only screen and (max-width: 1200px){
    .arrow-prev{
        visibility: hidden;
    }
    .arrow-next{
        visibility: hidden;
    }
}

.about img{
    height: 69px;
}
.arrow-next i:hover{
    color: #fff;
}
.arrow-prev i:hover{
    color: #fff;
}
.box p{
    font-family: 'Forum', cursive;
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    font-variant: small-caps;
}
.slick-item .box {
    text-align: center;
}
.content{
    position: absolute;
    top: 20%; left: 50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    font-size: 60px;
    color: white;
    overflow: hidden;
}
.content1{
    position: absolute;
    top: 70%; left: 50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    font-size: 60px;
    color: white;
    overflow: hidden;
}
.box a{
    font-size: 30px;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border:none;
}
.overlay{
    opacity: 0;
    
}
.box:hover img{
    opacity: 0.2;
}
.box:hover .overlay{
    opacity: 1;
}
