USE [BanHang]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/06/2018 00:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[phone] [varchar](20) NULL,
	[username] [varchar](30) NULL,
	[password] [varchar](32) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON
INSERT [dbo].[KhachHang] ([cid], [cname], [address], [phone], [username], [password], [status]) VALUES (1, N'Hai', N'Hanoi', N'0988312832', N'haihn', N'hai123', 1)
INSERT [dbo].[KhachHang] ([cid], [cname], [address], [phone], [username], [password], [status]) VALUES (8, N'DoManhDung', N'HaiDuong', N'0981065638', N'dungdmse05228', N'123456', 1)
INSERT [dbo].[KhachHang] ([cid], [cname], [address], [phone], [username], [password], [status]) VALUES (10, N'VuDuyLong', N'ThaiBinh', N'0938759230', N'longvd', N'123456', 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
/****** Object:  Table [dbo].[HangSanXuat]    Script Date: 11/06/2018 00:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HangSanXuat](
	[hid] [int] IDENTITY(1,1) NOT NULL,
	[hname] [nvarchar](30) NULL,
	[website] [varchar](100) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[hid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[HangSanXuat] ON
INSERT [dbo].[HangSanXuat] ([hid], [hname], [website], [status]) VALUES (1, N'Apple', N'apple.vn', 1)
INSERT [dbo].[HangSanXuat] ([hid], [hname], [website], [status]) VALUES (2, N'Sam sung', N'samsung.com', 1)
INSERT [dbo].[HangSanXuat] ([hid], [hname], [website], [status]) VALUES (3, N'Oppo', N'oppo.com', 1)
SET IDENTITY_INSERT [dbo].[HangSanXuat] OFF
/****** Object:  Table [dbo].[admin]    Script Date: 11/06/2018 00:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[admin](
	[username] [varchar](30) NOT NULL,
	[password] [varchar](32) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[admin] ([username], [password], [status]) VALUES (N'admin', N'admin', 1)
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/06/2018 00:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[hid] [varchar](30) NOT NULL,
	[date] [datetime] NULL,
	[cid] [int] NULL,
	[Rcname] [nvarchar](50) NULL,
	[Raddress] [nvarchar](50) NULL,
	[Rphone] [varchar](20) NULL,
	[total] [money] NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HoaDon] ([hid], [date], [cid], [Rcname], [Raddress], [Rphone], [total], [status]) VALUES (N'1', CAST(0x0000A98F013302C7 AS DateTime), 11, N'NguyenQuynhTrang', N'Hanoi', N'0912741244', 32400.0000, 0)
INSERT [dbo].[HoaDon] ([hid], [date], [cid], [Rcname], [Raddress], [Rphone], [total], [status]) VALUES (N'2', CAST(0x0000A98F013342D9 AS DateTime), 8, N'DoManhDung', N'HaiDuong', N'0981065638', 16600.0000, 0)
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/06/2018 00:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[sid] [varchar](30) NOT NULL,
	[sname] [nvarchar](50) NOT NULL,
	[quantity] [int] NULL,
	[price] [money] NULL,
	[picture] [varchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[status] [int] NULL,
	[hid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SanPham] ([sid], [sname], [quantity], [price], [picture], [description], [status], [hid]) VALUES (N'P001', N'Samsung S9', 15, 1500.0000, N'SamsungS9.png', N'Genuine Product', 1, 2)
INSERT [dbo].[SanPham] ([sid], [sname], [quantity], [price], [picture], [description], [status], [hid]) VALUES (N'P002', N'Iphone XS', 10, 2000.0000, N'IphoneXS.jpg', N'Genuine Product', 1, 1)
INSERT [dbo].[SanPham] ([sid], [sname], [quantity], [price], [picture], [description], [status], [hid]) VALUES (N'P003', N'Oppo F9', 10, 1800.0000, N'OppoF9.jpg', N'Genuine Product', 1, 3)
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 11/06/2018 00:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[hid] [varchar](30) NOT NULL,
	[sid] [varchar](30) NOT NULL,
	[quantity] [int] NULL,
	[price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[hid] ASC,
	[sid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[HoaDonChiTiet] ([hid], [sid], [quantity], [price]) VALUES (N'1', N'P003', 8, 1800.0000)
INSERT [dbo].[HoaDonChiTiet] ([hid], [sid], [quantity], [price]) VALUES (N'1', N'P013', 15, 1200.0000)
INSERT [dbo].[HoaDonChiTiet] ([hid], [sid], [quantity], [price]) VALUES (N'2', N'P001', 6, 1500.0000)
/****** Object:  Default [DF__admin__status__014935CB]    Script Date: 11/06/2018 00:29:29 ******/
ALTER TABLE [dbo].[admin] ADD  DEFAULT ((1)) FOR [status]
GO
/****** Object:  Default [DF__HangSanXu__statu__060DEAE8]    Script Date: 11/06/2018 00:29:29 ******/
ALTER TABLE [dbo].[HangSanXuat] ADD  DEFAULT ((1)) FOR [status]
GO
/****** Object:  Default [DF__HoaDon__date__182C9B23]    Script Date: 11/06/2018 00:29:29 ******/
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [date]
GO
/****** Object:  Default [DF__HoaDon__status__1A14E395]    Script Date: 11/06/2018 00:29:29 ******/
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((1)) FOR [status]
GO
/****** Object:  Default [DF__KhachHang__statu__1367E606]    Script Date: 11/06/2018 00:29:29 ******/
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((1)) FOR [status]
GO
/****** Object:  Default [DF__SanPham__status__0AD2A005]    Script Date: 11/06/2018 00:29:29 ******/
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [status]
GO
/****** Object:  ForeignKey [FK__HoaDon__cid__1920BF5C]    Script Date: 11/06/2018 00:29:29 ******/
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[KhachHang] ([cid])
GO
/****** Object:  ForeignKey [FK__HoaDonChiTi__hid__1ED998B2]    Script Date: 11/06/2018 00:29:29 ******/
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD FOREIGN KEY([hid])
REFERENCES [dbo].[HoaDon] ([hid])
GO
/****** Object:  ForeignKey [FK__HoaDonChiTi__sid__1FCDBCEB]    Script Date: 11/06/2018 00:29:29 ******/
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD FOREIGN KEY([sid])
REFERENCES [dbo].[SanPham] ([sid])
GO
/****** Object:  ForeignKey [FK__SanPham__hid__0BC6C43E]    Script Date: 11/06/2018 00:29:29 ******/
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([hid])
REFERENCES [dbo].[HangSanXuat] ([hid])
GO
